<form class="callout text-center">
  <h2>Become A Member</h2>
  <div class="floated-label-wrapper">
    <label for="full-name">Full name</label>
    <input type="text" id="full-name" name="full name input" placeholder="Full name">
  </div>
  <div class="floated-label-wrapper">
    <label for="email">Email</label>
    <input type="email" id="email" name="email input" placeholder="Email">
  </div>
  <div class="floated-label-wrapper">
    <label for="pass">Password</label>
    <input type="password" id="pass" name="password input" placeholder="Password">
  </div>
  <input class="button expanded" type="submit" value="Sign up">
</form>

<h2> Starters </h2>
<% @products.each do |product| %>
  <% if product.category == 'Starter' %>
    <h1>
      <%= "#{product.name} - #{product.price} kr" %>
    </h1>

    <p>
      <%= product.description %>
    </p>
  <% end %>
<% end %>

<h2> Main </h2>
<% @products.each do |product| %>
  <% if product.category == 'Main' %>
    <h1>
      <%= "#{product.name} - #{product.price} kr" %>
    </h1>

    <p>
      <%= product.description %>
    </p>
  <% end %>
<% end %>


<h2> Dessert </h2>
<% @products.each do |product| %>
  <% if product.category == 'Dessert' %>
    <h1>
      <%= "#{product.name} - #{product.price} kr" %>
    </h1>

    <p>
      <%= product.description %>
    </p>
  <% end %>
<% end %>
